* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 80vw;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 0;
  font-family: "Roboto Mono", monospace;
}

img {
  width: 100%;
}

.intro {
  margin: 20px 0;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.haiku {
  z-index: 1;
  position: absolute;
  background: white;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

.caption {
  font-size: 0.7em;
}
